<div class="header">
  <div class="header-button">
    <img src="https://cdn-icons-png.flaticon.com/512/2616/2616718.png">
    <ul class="header-items">
      <li><a href="#">Elemento 1</a></li>
      <li><a href="#">Elemento 2</a></li>
      <li><a href="#">Elemento 3</a></li>
    </ul>
  </div>
      <div class="header-info">
   <div  class="info-perfil">

   </div>
  <div class="info-nombre">
  
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" class="imagenperfil">
    
<h3>Hi,Name</h3>
  </div>
      </div>
</div>
<div class="container">
  <div class="investments-summary">
    <h3>Tus inversiones</h3>
    <p>Rendimiento actual: $1000</p>
    <p>Última actualización: 22 de septiembre de 2023</p>
  </div>
  <div class="investment-opportunities">
    <h3>Nuevas oportunidades de inversión</h3>
    <div class="investment-card">
      <h4>Empresa X</h4>
      <p>Rendimiento esperado: 10%</p>
      <button>¡Invertir ahora!</button>
    </div>
    <div class="investment-card">
      <h4>Empresa Y</h4>
      <p>Rendimiento esperado: 7%</p>
      <button>¡Invertir ahora!</button>
    </div>
  </div>
</div>