ion-tab-button {
    background-color: transparent;
    transition: transform 0.2s ease-in-out;
    ion-label{
        color:rgb(13, 59, 119);
      }
  }
  
  ion-tab-button:hover {
    background-color: rgb(0, 119, 255);
    color: white;
    cursor: pointer;
    ion-icon{
        color: white;
    }
    ion-label{
        color:white;
      }
  }
  
  ion-tab-button:active {
    transform: scale(1.2);
  }
  ion-tab-bar{
background-color: rgb(0, 119, 255);
  }
  ion-icon{
    font-size: 2.50rem;
    color:rgb(13, 59, 119);
  
  }
  ion-label{
    color:rgb(0, 119, 255);
  }
