<div class="header">
  <div class="header-button">
    <img src="https://cdn-icons-png.flaticon.com/512/2616/2616718.png">
    <ul class="header-items">
      <li><a href="#">Elemento 1</a></li>
      <li><a href="#">Elemento 2</a></li>
      <li><a href="#">Elemento 3</a></li>
    </ul>
  </div>
      <div class="header-info">
   <div  class="info-perfil">

   </div>
  <div class="info-nombre">
  
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" class="imagenperfil">
    
<h3>Hi,Name</h3>
  </div>
      </div>
</div>
<h1>Calendario de Ganancias</h1>
    <div class="calendar">
      <div class="calendar-header" colspan="7">Enero 2023</div>
      <div class="calendar-day">Lun</div>
      <div class="calendar-day">Mar</div>
      <div class="calendar-day">Mié</div>
      <div class="calendar-day">Jue</div>
      <div class="calendar-day">Vie</div>
      <div class="calendar-day">Sáb</div>
      <div class="calendar-day">Dom</div>
      <div class="calendar-day"></div>
      <div class="calendar-day"></div>
      <div class="calendar-day"></div>
      <div class="calendar-day"></div>
      <div class="calendar-day"></div>
      <div class="calendar-day">1</div>
      <div class="calendar-day">2</div>
      <div class="calendar-day">3</div>
      <div class="calendar-day">4</div>
      <div class="calendar-day">5</div>
      <div class="calendar-day">6</div>
      <div class="calendar-day">7</div>
      <div class="calendar-day">8</div>
      <div class="calendar-day">9</div>
      <div class="calendar-day">10</div>
      <div class="calendar-day">11</div>
      <div class="calendar-day">12</div>
      <div class="calendar-day">13</div>
      <div class="calendar-day">14</div>
      <div class="calendar-day">15</div>
      <div class="calendar-day">16</div>
      <div class="calendar-day">17</div>
      <div class="calendar-day">18</div>
      <div class="calendar-day">19</div>
      <div class="calendar-day">20</div>
      <div class="calendar-day">21</div>
      <div class="calendar-day">22</div>
      <div class="calendar-day">23</div>
      <div class="calendar-day">24</div>
      <div class="calendar-day">25</div>
      <div class="calendar-day">26</div>
      <div class="calendar-day">27</div>
      <div class="calendar-day">28</div>
      <div class="calendar-day">29</div>
      <div class="calendar-day">30</div>
      <div class="calendar-day">31</div>
    </div>
    <table class="earnings-table">
      <thead>
        <tr>
          <th>Mes</th>
          <th>Ganancias</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Enero</td>
          <td>$1000.00</td>
        </tr>
        <tr>
        <td>Febrero</td>
        <td>$50.26</td>
      </tr>
      </tbody>
    </table>