<div class="header">
  <div class="header-button">
    <img src="https://cdn-icons-png.flaticon.com/512/2616/2616718.png">
    <ul class="header-items">
      <li><a href="#">Elemento 1</a></li>
      <li><a href="#">Elemento 2</a></li>
      <li><a href="#">Elemento 3</a></li>
    </ul>
  </div>
      <div class="header-info">
   <div  class="info-perfil">

   </div>
  <div class="info-nombre">
  
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" class="imagenperfil">
    
<h3>Hi,Name</h3>
  </div>
      </div>
</div>
<div class="money">
  <div class="money-ingresos">
  <a>Total Budget</a>
</div>
  <div class="money-efectivo">
  <a>$0</a>
</div>
<div class="info-pagos">
  <button class="boton-pago">Month Expeses</button>
  <button class="boton-pago">Add Budget</button>
</div>
</div>
<div class="grafico">
  <img src="https://cdn-icons-png.flaticon.com/512/7129/7129621.png" >
</div>
