<div class="header">
  <div class="header-button">
    <img src="https://cdn-icons-png.flaticon.com/512/2616/2616718.png">
    <ul class="header-items">
      <li><a href="#">Elemento 1</a></li>
      <li><a href="#">Elemento 2</a></li>
      <li><a href="#">Elemento 3</a></li>
    </ul>
  </div>
      <div class="header-info">
   <div  class="info-perfil">

   </div>
  <div class="info-nombre">
  
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" class="imagenperfil">
    
<h3>Hi,Name</h3>
  </div>
      </div>
</div>
<div class="credit-card">
  <h2>Depositar Dinero</h2>
  <form>
    <div class="form-group">
      <label for="card-number">Número de Tarjeta:</label>
      <input type="text" id="card-number" name="card-number" placeholder="1234 5678 9012 3456">
    </div>
    <div class="form-group">
      <label for="amount">Monto a Depositar:</label>
      <input type="text" id="amount" name="amount" placeholder="$0.00">
    </div>
    <div class="form-group">
      <label for="security-code">Código de Seguridad:</label>
      <input type="text" id="security-code" name="security-code" placeholder="CVC">
    </div>
    <button type="submit">Depositar</button>
  </form>
</div>